@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --page-width: 90rem;
    --page-padding: 0.5rem;
    --header-distance: 3.8rem;
    --background-color: #F8F7FA;
    --font-standard-color: #222708;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--font-standard-color);
}

.page-holder {
    width: 100%;
    max-width: var(--page-width);
    height: 100%;
    padding: var(--page-padding);
    margin-top: var(--header-distance);
}